body
{
  margin:0;
  overflow:hidden;
}
nav{
  padding: 24px;
  background-color:#1296DB;
}
.link1 {
  font-weight: 15px;
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 10 50px;
}
.btn{
  background-color: white;
  border: 2px solid #333333;
  border-radius: 27px;
  color: #333333;
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
  text-transform: uppercase;
  transition: all 200ms;
  }
   #mydiv {
    position:fixed;
    top: 30%;
    left: 50%;
    width:20em;
    height:5em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
    padding:20px;}
  #mydiv1 {
      position:fixed;
      top: 40%;
      left: 50%;
      width:40em;
      height:40em;
      margin-top: -9em; /*set to a negative number 1/2 of your height*/
      margin-left: -15em;
    padding:50px;}

#btn
{
  margin-top: 300px;
}
.right {
    position: absolute;
    left: 0px;
    width: 400px;
	  height: 800px;
	  top:76px;
    background-color: black;
}

.upload{
  position: absolute;
  border:1px solid red;
  height: 50px;
  width:400px;
  left:450px;
  top:120px;
}

